@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karma:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}


#sea {
    background: url('img/bg.png') center/cover;
    height: 100vh;
}

.text-narinci {
    color: #fe5c24 !important;
}

.text-mavi {
    color: #0c3e72;
}

.container {
    width: 95%;
    margin: auto;
}

#header-top {
    background-color: #eaefff;
}

.h-top2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.Destinations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    a {
        color: #0c3e72;
    }
}

.icons {
    display: flex;
    gap: 30px;
}

.elaqe {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mobile {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.navbar i {
    font-size: 25px;
    cursor: pointer;
}

.desktop {
    display: none;
}

#sea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 120px;
}

#sea p {
    margin-top: 2px;
    font-size: 24px;
    text-align: center;
}

.discover {
    margin-top: 30px;
    padding: 24px 80px;
    background-color: #2493e0;
    color: white;
    transition: 0.5s;
}

.discover:hover {
    background-color: #fe5c24;
}

.hotel-card {
    margin-top: -80px;
}

.hotel-card {
    margin-top: -80px;
    box-shadow: 0 0 10px #d4d4d4;
}

.hotel-card-3 {
    padding: 0 40px;
    height: auto;
    background-color: #fefefe;
}

.active {
    border-bottom: 2px solid #2493e0 !important;
}

.hotel-card-3 button {
    margin: 0;
    border: none;
    background-color: transparent;
    height: 80px;
    padding: 0 20px;
    cursor: pointer;
    color: #0c3e72;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.hotel-form {
    padding: 40px;
    height: auto;
}

.hotel-form input,
.hotel-form select {
    height: 50px;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #2493e0;
    color: #2493e0;
    font-size: 15px;
    outline: none;
}

.hotel-form form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel-form a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    width: 100px;
    background-color: #fe5c24;
    transition: 0.5s;
}

.hotel-form a:hover {
    background-color: #2493e0;
}

select option {
    background-color: white;
    color: #2493e0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/*top place hissesi basladi*/

.top-place h2,
.top-place p {
    text-align: center;
}

.top-place p {
    margin: auto;
    color: #777;
    font-weight: 400;
    line-height: 28px;
    /* width: 45%; */
}

.top-place h2 {
    font-size: 46px;
    color: #0c3e72;
    font-weight: 600;
    margin-bottom: 26px;
}

/*top place hissesi qutardi*/
.top-place-img4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 100%;
    margin: auto;
}

.top-place-img4 img {
    width: 100%;
    object-fit: cover;
}

.img-box {
    position: relative;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    padding: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #0c3d7267;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.overlay div {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0c3e72;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 100%;
}

.img-box:hover .overlay {
    opacity: 1;
}

.fa-star {
    color: #fe5c24;
}

.overlay h3 {
    font-size: 20px;
}

.overlay p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.overlay a {
    padding: 10px 20px;
    background-color: #fe5c24;
    color: #fff;
}

.discover-more:hover {
    background-color: #2493e0;
}

.discover-more {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 25px;
    background-color: #fe5c24;
    color: #fff;
    margin: auto;
    transition: 0.5s;
}

/*slider basladi*/
.bg {
    background: url('img/event_bg.png') center/cover;
    height: 100vh;
}

.active {
    border-bottom: 0px solid #2493e0 !important;
}

.slider .fa-star {
    color: #ffc962;
}

.slider a {
    background-color: #fe5c24;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
}

.slider h5 {
    color: #fe5c24;
    font-size: 16px;
    font-weight: 400;
}

.slider h2 {
    color: #0c3e72;
    font-size: 30px;
    font-weight: 600;
}

.slider p {
    color: #848484;
    font-size: 16px;
    font-weight: 400;
}

.slider p span {
    color: #0c3e72;
    font-size: 16px;
    font-weight: 400;
}

/*slider bitdi*/

/*desktop hissesi basladi*/
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .mobile {
        display: none;
    }

    .navbar-desk {
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .book-know {
        padding: 20px 35px;
        color: white;
        background-color: #fe5c24;
        transition: 0.5s;
    }

    .book-know:hover {
        background-color: #2493e0;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }

    ul li a {
        color: #0c3e72;
        transition: 0.2s;
    }

    ul li a:hover {
        color: #fe5c24;
    }

    .hotel-card {
        margin-top: -80px;
    }

    .top-place p {
        width: 75%;
        max-width: 100%;
    }

    .top-place-img4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 100%;
        margin: auto;
    }
}





























@media screen and (max-width: 830px) {
    .Destinations {
        display: none;
    }

    .icons {
        margin: auto;
    }
}

@media screen and (max-width: 960px) {
    .book-know {
        display: none;
    }

    h1 {
        font-size: 40px;
        padding: 0 5px;
    }

    .discover {
        margin-top: 30px;
        background-color: #2493e0;
        color: white;
        transition: 0.5s;
    }

    .hotel-form input,
    .hotel-form select {
        width: 100%;
    }

    .top-place p {
        padding: 0 5px;
    }

    .hotel-form form {
        flex-direction: column;
        gap: 10px;
    }

    .hotel-card-3 {
        padding: 0 20px;
    }

    .hotel-form {
        padding: 20px;
    }
}

@media screen and (max-width: 650px) {
    .Destinations {
        margin: auto;
    }
}

@media screen and (max-width: 350px) {
    .icons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: auto;
    }

    .discover {
        margin-top: 30px;
        padding: 30px 50px;
        background-color: #2493e0;
        color: white;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1200px) {
    .top-place h2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 240px) {
    .overlay a {
        font-size: 9px !important;
        padding: 10px 15px !important;
        background-color: #fe5c24;
        color: #fff;
    }

    #share {
        height: 35px;
        width: 35px;
        font-size: 12px;
    }

    .bg {
        height: 120vh;
    }
}

@media screen and (max-width: 350px) {
    .overlay {
        padding: 10px;
    }

    .overlay div {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #0c3e72;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        max-width: 100%;
    }

    .img-box:hover .overlay {
        opacity: 1;
    }

    .fa-star {
        color: #fe5c24;
    }

    .overlay h3 {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }

    .overlay p {
        font-size: 11px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .overlay a {
        font-size: 11px;
        padding: 10px 20px;
        background-color: #fe5c24;
        color: #fff;
    }


    .discover-more {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 25px;
        background-color: #fe5c24;
        color: #fff;
        margin: auto;
    }

    h1 {
        font-size: 30px;
        padding: 0 5px;
    }
}